@media(max-width:480px){
    .div_discs{
        flex-direction: column;
        height: auto;
    }
    .div_header,.detail_disc{
        height: auto;
    }
}
@media(max-width:767px){
    .div_discs{
        flex-direction: column;
        height: auto;
    }
    .div_header,.detail_disc{
        height: auto;
    }
}
@media(min-width:768px){
    .div_discs,.div_header,.detail_disc{
        height: auto;
    }
}
@media(min-width:992px){
    .div_discs,.div_header,.detail_disc{
        height: auto;
    }
}
@media(min-width:1200px){
    .div_discs,.div_header,.detail_disc{
        height: auto;
    }
}

body{
    background: url("/assets/images_the_district/food/spaghetti-legumes.jpg");
    background-attachment: fixed;
    background-size: cover; 
    /* height: 100%;  */
}

header{
    background: url("/assets/images_the_district/bg1.jpeg");
    background-size: cover; 
    height: auto;  
}

a span:hover{
    color:deeppink;
}

.button_color{
    color: deeppink;
    background-color: deeppink;
}

#navbarNav{
    background-color:purple;   
}

.bg_li{
    background-color: black;
}

h1{
    text-align: center;
}

#titre_header{
    color: white;
}

.div_cat{    
    background-color:rgba(128, 0, 128, 0.651);
    border-radius : 10px;
}

.cat_count{
    background-color: purple;
    color: white;
}

.libelle{
    background-color: purple;
    color:white;
}

.cat_img{
    /* border-radius : 10px; */
    width: 100%;
}

.zoom_cat:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    transition: transform 5s;
}

.jaquettes{
    border-radius : 10px;
}

.titre_album{
    font-weight : bold;
}

.cont_form{
    background-color: lightslategray;
    border-radius : 10px;
}